
// Color Scheme
$dark: #1f212c;
$blue: #2c5bff;
$dark-l: #292c36;
$dark-d: #0e111a;
$white: #fff;
$gray: #aaaaaa9c;
$black: #000;

// Fonts

$text_font : 'Roboto', sans-serif;

// Media Querys
$phone: 500px;
$tablet: 768px;
$desktop: 1024px;