@use 'utilities/variables' as v;

.aside{
  background: v.$dark-d;
  height: 100vh;
  .heading{
    text-transform: uppercase;
    padding: 0 2rem;
    word-break:break-all;
    letter-spacing: .4vw;
  }
  .navigation{
    margin-top: 5%;
  }
}

.navigation__list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  .navigation__item{
    padding:.5rem 0 .5rem 1rem;
    display: flex;
    align-items: center;
  }

  .navigation__link{
    font-size: clamp(1.5rem,2.5vw,1.7rem);
    padding: 2rem;
    display: block;
  }
}

.navigation__item svg{
  width: clamp(2.5rem,2.5vw,3rem);
  height: clamp(2.5rem,2.5vw,3rem);
}

.navigation__item--active{
  background: v.$dark;
}