@use 'utilities/variables' as v;
@use 'utilities/mixins' as m;

.crud {
  height: 100vh;
}

.card {
  margin: auto;
  width: 90%;
  @include m.phone {
    width: MIN(80%, 100rem);
  }
  height: 70vh;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background: v.$dark-l;
  padding: 2rem;
  overflow: auto;
  .scrollbar-track {
    border-radius: 2rem;
  }
}
