@use 'utilities/variables' as v;
@use 'utilities/mixins' as m;

.form{
  padding: 2rem;
  height: auto;
  @include m.phone{
    padding:4rem;
    width: clamp(20rem,70vw,50rem);
  }
  border-radius: 1.5rem;
  &__heading{
    margin: 0;
    margin-bottom: 2.5rem;
    font-size: clamp(2rem,3vw,3rem);
  }

  &__field{
    display: flex;
    flex-direction: column-reverse;
  }

  &__label{
    font-size: 1.8rem;
  }

  &__input{
    width: 100%;
    padding: 1rem;
    display: block;
    margin-top: .5rem;
    margin-bottom: 2rem;
    border: 2px solid transparent;
    outline: none;
    border-radius: .5rem;
  }

  &__button{
    width: 100%;
    padding: 1rem;
    @include m.phone{
      padding:1rem;
    }
    text-align: center;
    background: v.$dark;
    color: v.$white;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1px;
    border: 2px solid transparent;
    border-radius: .5rem;
    
  }
}

/* Validación */
.form__button:hover{
  background: v.$blue;
}

.form__input:focus{
  border:2px solid v.$blue;
}

.form__input:focus ~ .form__label{
  color: v.$blue;
}

.form__input:valid:not(:focus):not(:placeholder-shown){
  background-color: #6fff6f;
}
.form__input:valid:not(:focus):not(:placeholder-shown) ~ .form__label{
  color: #6fff6f;
}
.form__input:invalid:not(:focus):not(:placeholder-shown){
  background-color: #ff6f6f;
}
.form__input:invalid:not(:focus):not(:placeholder-shown) ~ .form__label{
  color: #ff6f6f;
}